<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>controller间同步数据</title>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.0-beta.4/angular.min.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div class="container" ng-controller="main1Controller">
		<input type="text" ng-model="form.name[0]">
		<button class="btn btn-primary" ng-click="update()">更新内容</button>
	</div>
	<div class="container" ng-controller="main2Controller">
		<p>{{form.name[0]}}</p>
		<button class="btn btn-danger" ng-click="update()">同步内容</button>
	</div>
</body>
</html>